@model IEnumerable<MvcDemoProject.Models.CustomerProduct>

@{
    ViewData["Title"] = "ProductSearch";
}
<body>
    <div class="container-fluid mt-3">

       
@if (ViewBag.num == -1)
{
    <script>
        alert("please enter search  text")
    </script>
}

@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.pimgUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifiedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.createdDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.modifiedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isDeleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.pName)
            </td>
       
             <td>
                    <img src="@Html.DisplayFor(modelItem => item.pimgUrl)" alt="Laptop Image" width="70" height="60">
             </td>
           
            <td>
                @Html.DisplayFor(modelItem => item.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.createdDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.modifiedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isDeleted)
            </td>
                <td>

                    @Html.ActionLink("Add To  Cart", // <-- Link text
                "AddToCart",

                // <-- Action Method Name
                new { id=item.Id}, // <-- Route arguments
                new {@class="btn btn-warning", data_val="abc"} // <-- htmlArguments
                )

                </td>
        </tr>
}
    </tbody>
</table>*@
<form asp-controller="Product" asp-action="ProductSearch" class="mb-5 ms-5">
    <p>

        Search: <input type="text" name="searchtext" placeholder="Enter Search Text" id="demo" class="form-control-sm " />

        <input type="submit" value="Search" class="btn btn-primary " />
    </p>
</form>

        @if (Model == null)
        {
            <script>

                alert("Please Enter Something In Search Box");

            </script>
            <img src="https://emojipedia-us.s3.amazonaws.com/source/noto-emoji-animations/344/disappointed-face_1f61e.gif" alt="smily image" class="img-responsive center-block d-block mx-auto" height="90" width="90">
            <h2 class="text-center">No Result Found....!</h2>
        }
        else
        {
                @foreach (var item in Model)
                {
                Random rd = new Random();

                int rand_num = rd.Next(100, 200);

                string xx = "mano";
                xx = xx + rand_num;

                <div class="row">


                    @* <div class="col-3">
            <span class="mb-3 ms-5"> <img src="@Html.DisplayFor(modelItem => item.pimgUrl)" alt="Laptop Image" width="130" height="180"> </span>
            </div>*@


                    <div class="col-3">

                        @if (item.pimgUrl != null)
                        {
                            string m1, m2, m3;
                            var images = item.pimgUrl.Split(",");

                            m1 = images[0];
                            m2 = images[1];
                            m3 = images[2];




                            <span class="mb-3 ms-5">
                                <div id="@xx" class="carousel slide" data-bs-ride="carousel">
                                    <!-- Indicators/dots -->
                                    <div class="carousel-indicators">
                                        <button type="button" data-bs-target="#@xx" data-bs-slide-to="0" class="active"></button>
                                        <button type="button" data-bs-target="#@xx" data-bs-slide-to="1"></button>
                                        <button type="butoon" data-bs-target="#@xx" data-bs-slide-to="2"></button>
                                    </div>
                                    <!-- The slideshow/carousel -->
                                    <div class="carousel-inner">
                                        <div class="carousel-item active">
                                            <img src="@Html.DisplayFor(modelItem => m1)" alt="Laptop Image" width="130px" height="180px" class="d-block w-100">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="@Html.DisplayFor(modelItem => m2)" alt="Laptop Image" width="130px" height="180px" class="d-block w-100">
                                        </div>
                                        <div class="carousel-item">
                                            <img src="@Html.DisplayFor(modelItem => m2)" alt="Laptop Image" width="130px" height="180px" class="d-block w-100">
                                        </div>
                                    </div>
                                    <!-- Left and right controls/icons -->
                                    <button type="button" class="carousel-control-prev" data-bs-target="#@xx" data-bs-slide="prev"> <span class="carousel-control-prev-icon"></span></button>
                                    <button type="button" class="carousel-control-next" data-bs-target="#@xx" data-bs-slide="next">
                                        <span class="carousel-control-next-icon"></span>
                                    </button>
                                </div>
                            </span>
                        }
                    </div>
                            <div class="col-4">
                                     Model Id: <span class="">  @Html.DisplayFor(modelItem => item.Id)<br> Model name: @Html.DisplayFor(modelItem => item.pName)<br> Price: @Html.DisplayFor(modelItem => item.price)<br> About: @Html.DisplayFor(modelItem => item.Specification)</span>
                            </div>
                            <div class="col-4">
                                @Html.ActionLink("Add To Cart", // <-- Link text
                            "AddToCart",

                            // <-- Action Method Name
                            new { id=item.Id}, // <-- Route arguments
                            new {@class="btn btn-warning"} // <-- htmlArguments
                            )   |    @Html.ActionLink("Buy", // <-- Link text
                            "OrderIdtem",
                            "Order",
                            // <-- Action Method Name
                            new { id=item.Id}, // <-- Route arguments
                            new {@class="btn btn-success", data_val="abc"} // <-- htmlArguments
                            )
                            </div>
                            <hr>
                        </div>

                }
        }
    </div>
</body>

